#information {
  background-color: darkgray;
  padding: 50px;
}

#button {
  margin-top: 10px;
}

.form-group {
  background-color: lightgray;
  border: black;
  border-width: 2px;
  padding: 5px;
  width: 50%;
}

form {
  border: 1px solid lightgrey;
  padding: 10px;
}

input {
  padding: 5px;
  width: 50%;
}

table {
  padding: 20x;
  border-collapse: collapse;
  width: 100%;
}

tr {
  border-bottom: 3px solid #161616;
}

td,
th {
  padding: 20px;
  border-radius: 4px;
  border: 1px solid black;
}
